<div class="container">
    <h1 class="about"><i class="fas fa-info-circle"></i> About ngDeezer</h1>
    <h3>Version 1.0</h3>
    <p>This is an Angular 5 app that uses the Deezer api to find Artists and display Albums and Track listings.</p>
    <h4>
        Developer: Fortune King.
    </h4>
    <p>Follow me on Twitter at
        <a href="https://twitter.com/chunkingz" target="_blank" crossorigin="anonymous">chunkingz <i class="fab fa-twitter"></i></a> and Github at
        <a href="https://github.com/chunkingz" target="_blank">Chunkingz <i class="fab fa-github"></i></a>
    </p>
    <!-- <p><small>Notice: The spotify api doesn't work in Nigeria, so I switched to the Deezer api</small></p> -->
</div>