<div class="container">
    <p align="center" *ngIf="loader">Loading ...</p>
    <div *ngIf="artist">
        <header class="artist-header">
            <div *ngIf="artist.picture.length > 0">
                <img [src]="artist.picture_medium" class="artist-thumb img-circle">
            </div>
            <h2 class="bot">Artist name: {{artist?.name}}</h2>
        </header>

        <div class="artist-albums">

            <div *ngFor="let album of albums">
                <div class="row">
                    <div class="col-md-12">
                        <div class="well album" style="background: #222; border-radius: 0.5rem; padding: 1em;">
                            <div *ngIf="album.cover.length > 0">
                                <img class="img img-thumbnail album-thumb" src="{{album.cover_medium}}">
                                <h4>{{album.title}}</h4>
                                <a routerLink="/album/{{album.id}}" target="_blank" class="btn btn-warning btn-block"> View Album</a>
                            </div>
                        </div>
                    </div>
                </div><br>
            </div>
        </div>
    </div>
</div>