<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="row">
                <div class="col-md-12">
                    <form>
                        <div class="form-group">
                            <!--search box-->
                            <input class="form-control" id="searchbox" name="username" type="text" placeholder="Enter name of artist/song...">

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>