<div class="container">
    <h1>Need Music?
        <small>
        <i class="fas fa-music"></i>
        <i class="fab fa-itunes-note"></i>
      </small>
    </h1>
    <p class="lead">using the ngSpotify app to browse new releases and find your favorite songs <br> All you get is that text and a mostly barebones html document.
    </p>
    <form>
        <div class="form-group">
            <!--search box-->
            <input class="form-control" id="searchbox" name="searchStr" type="text" [(ngModel)]="searchStr" (keyup)="searchMusic()" placeholder="Enter name of artist/song...">
        </div>
    </form>

    <div *ngIf="searchRes">
        <div *ngFor="let res of searchRes">
            <div class="row">
                <div class="col-md-12">
                    <div class="well" style="background: #222; border-radius: 0.5rem; padding: 1em;">
                        <!-- <h4>{{res.id}}</h4> -->
                        <h4><a routerLink="/artist/{{res.artist.id}}" target="_blank">{{res.artist.name}}</a></h4>
                        <h6>{{res.title}}</h6>
                    </div>
                </div>
            </div><br>
        </div>
    </div>
</div>